{% extends 'adminapp/base.html' %}

{% block content %}
    <p class="">
        Уверены, что хотите
        {% if object.is_active %}
            деактивировать
        {% else %}
            восстановить
        {% endif %}
        категорию {{ object.name }}?
    </p>
    <form method="POST" style="margin-bottom: 10px;">
        {% csrf_token %}
        <input type="submit" value="Уверен" class="btn btn-danger">
    </form>
    <a href="{% url 'adminapp:category_list' %}" class="btn btn-success">Нет</a>
{% endblock %}